.cadastro-container {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #f0efef;
    border-radius: 16px;
    background: linear-gradient(to right, #e0f7fa, #80deea); 
}

.form-group {
    margin-bottom: 15px;
}

.form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 16px;
}

.btn-primary {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.btn-primary:hover {
    background-color: green;
}

.A img {
    border-radius: 16px;
    width: 100%;
}

.error {
    color: red;
    font-size: 0.875rem;
    margin-top: 5px;
}

